# Just trigger new host
name: GraphQL App Deployment

on:
  push:
    branches:
      - '*'
      - '!master'
    paths:
      - 'graphql-app/**'
      - '.github/workflows/app.yml'
      - '.github/workflows/deployment.yml'
  pull_request:
    branches:
      - main
    types: [ closed ]

env:
  REGISTRY: ghcr.io

jobs:
  build-app:
    name: Build integrated app
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      DOCKERX_CACHE_PREFIX: /tmp/.buildx-cache-graphql
      IMAGE_NAME: ${{ github.repository }}
    strategy:
      matrix:
        apps: [main, cron-pub]
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      # Setup cache
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: ${{ env.DOCKERX_CACHE_PREFIX }}
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      # Authenticate with Github Container Registry
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-${{ matrix.apps }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          build-args: |
            "NPM_TOKEN=${{ secrets.NPM_TOKEN }}"
            "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}"
            "APP_NAME=${{ matrix.apps }}"
            "CI=true"
          context: graphql-app
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=${{ env.DOCKERX_CACHE_PREFIX }}
          cache-to: type=local,dest=${{ env.DOCKERX_CACHE_PREFIX }}-new

      - name: Revalidate cache
        run: |
          rm -rf ${{ env.DOCKERX_CACHE_PREFIX }}
          mv ${{ env.DOCKERX_CACHE_PREFIX }}-new ${{ env.DOCKERX_CACHE_PREFIX }}

  deploy_preview:
    name: Deploy integrated app to VPS
    if: github.ref == 'refs/heads/develop'
    needs:
      - build-app
    uses: hungphongbk/vth-showcase-backend/.github/workflows/deployment.yml@develop
    with:
      deployment_name: showcase
      namespace: staging
      environment: preview
    secrets:
      KUBECONFIG: ${{ secrets.KUBECONFIG }}
      GH_DEPLOYMENT_PAT: ${{ secrets.GH_DEPLOYMENT_PAT }}
