# Just trigger new host
name: Server Build & Deploy to Kubernetes

on:
  push:
    branches:
      - develop
    paths:
      - 'graphql-app/**'
      - '.github/workflows/**'
  pull_request:
    branches:
      - main
    types: [ closed ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: Build integrated app
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      FIREBASE_CRED_DIR: ./graphql-app/src/.private
      FIREBASE_CRED_PATH: ./graphql-app/src/.private/firebase-credentials.json
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Create env file & credential files
        run: |
          mkdir -p $FIREBASE_CRED_DIR
          touch $FIREBASE_CRED_PATH
          echo '${{ secrets.FIREBASE_CREDS }}' > $FIREBASE_CRED_PATH

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      # Setup cache
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      # Authenticate with Github Container Registry
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: graphql-app
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Revalidate cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  deploy_preview:
    environment: preview
    name: Deploy integrated app to VPS
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}
      - name: Call Deployment Workflow
        uses: hungphongbk/vth-deployment/.github/workflow/deployment.yml@main
        with:
          deployment_name: showcase
          namespace: staging