on:
  workflow_call:
    secrets:
      KUBECONFIG:
        required: true
      GH_DEPLOYMENT_PAT:
        required: true
    inputs:
      environment:
        required: true
        type: string
      deployment_name:
        required: true
        type: string
      namespace:
        required: true
        type: string
jobs:
  deploy:
    name: Deploy to LKE
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
        with:
          repository: hungphongbk/vth-deployment
          token: ${{ secrets.GH_DEPLOYMENT_PAT }}

      - uses: azure/k8s-set-context@v2
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG }}

      - name: Print kubectl & kustomize versions
        run: |-
          kubectl version
          kustomize version

      - name: Deploy to LKE
        run: |-
          kustomize build ./${{ inputs.namespace }} | kubectl apply -f -

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Update Image
        run: |
          npm i yargs
          chmod +x .scripts/rollout.js
          ./.scripts/rollout.js --d=${{ inputs.deployment_name }} --n=${{ inputs.namespace }}