name: Server Build & Push

on:
  push:
    branches: [ main ]
    paths:
      - 'graphql-app/**'
      - docker-compose.prod.yml
      - '.github/workflows/**'

jobs:
  build:
    name: Build integrated app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Cache node modules
        id: cache
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Create env file
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          touch .env
          echo "${{ secrets.SERVER_ENV_PROD }}" > .env
          cat .env

      - name: Build image
        if: steps.cache.outputs.cache-hit != 'true'
        run: docker compose -f docker-compose.prod.yml build

      - name: Install doctl
        if: steps.cache.outputs.cache-hit != 'true'
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_ACCESS_TOKEN }}

      - name: Push image to DO Container Registry
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          doctl registry login --expiry-seconds 600
          docker compose -f docker-compose.prod.yml push

  deploy:
    name: Deploy integrated app to VPS
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@master
      - name: Copy docker-compose.prod.yml
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.prod.yml"
          target: "/home/vth-showcase"
      - name: Restart docker compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/vth-showcase
            docker compose -f docker-compose.prod.yml pull
            docker compose -f docker-compose.prod.yml up -d
