name: Server Build & Push

on:
  push:
    branches: [ main ]
    paths:
      - 'graphql-app/**'
      - docker-compose.prod.yml
      - '.github/workflows/**'

jobs:
  build:
    name: Build integrated app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Create env file
        run: |
          touch .env
          echo "${{ secrets.SERVER_ENV_PROD }}" > .env
          cat .env

      - name: Build image
        run: docker compose -f docker-compose.prod.yml build

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_ACCESS_TOKEN }}

      - name: Push image to DO Container Registry
        run: |
          doctl registry login --expiry-seconds 600
          docker compose -f docker-compose.prod.yml push

  deploy:
    name: Deploy integrated app to VPS
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2

      - name: Copy docker-compose.prod.yml
        uses: appleboy/scp-action@v0.1.2
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.prod.yml"
          target: "/home/vth-showcase"
      - name: Restart docker compose
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/vth-showcase
            touch .env
            echo "${{ secrets.SERVER_ENV_PROD }}" > .env
            cat .env
            docker-compose -f docker-compose.prod.yml pull
            docker-compose -f docker-compose.prod.yml up -d --no-build
            docker-compose -f docker-compose.prod.yml exec prod 'npm run init:prod'